@import "../../utilities/_variables.scss";

.careers {
  .inline-image-and-paragraph {
    .image {
      width: 35%;

      img {
        max-width: 430px;
      }
    }

    .paragraph {
      width: 55%;
    }
  }

  .challenges-and-future,
  .decentro-gallery,
  .use-cases {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;

    h2 {
      font-size: $product-sections-header-font-size-desktop;
      line-height: $product-sections-header-line-height-desktop;
      font-weight: 400;
      color: #0a192c;

      span {
        font-weight: 600;
      }
    }

    p {
      font-size: $product-pages-body-text-font-size-desktop;
      line-height: $product-pages-body-text-line-height-desktop;
      font-weight: 400;
      color: #68727d;
      margin-top: 20px;
      text-align: center;
      width: 85%;
    }

    .challenges {
      .inline-image-and-paragraph {
        padding: 60px;

        h2 {
          color: #3c3c3c;
          font-size: 28px;
          font-weight: 600;
          line-height: 34px;
        }

        p {
          margin-top: 20px;
          font-size: 20px;
          line-height: 36px;
        }

        &:nth-child(2) {
          flex-flow: row-reverse;
        }

        .image {
          align-items: center;

          img {
            max-width: 80%;
          }
        }
      }
    }
  }

  .use-cases {
    margin-top: 0px;
    background: #fafafa;

    .use-case-list {
      width: 100%;

      .use-case-block {
        width: calc(100% / 4 - 80px);
        height: 200px;
        padding: 40px 30px 30px !important;

        .image {
          display: flex;
          height: 80px;

          img {
            // width: unset;
            width: 100%;
            height: unset;
          }
        }

        p {
          margin-top: 30px;
          font-size: 16px;
          color: #8b8b8b;
          line-height: 26px;
          font-weight: 500;
        }
      }
    }
  }

  .perks {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    // width: 100%;

    h2 {
      font-size: 40px;
      line-height: 50px;
      font-weight: 400;
      color: #096ef2;

      span {
        font-weight: 600;
      }
    }

    .perks-block {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 0 50px;
      flex-wrap: wrap;

      .perk {
        width: calc(100% / 3 - 100px);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        padding: 50px 30px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-top: 80px;

        svg {
          font-size: 40px;
          color: #096ef2;
          width: 1em;
        }

        p {
          font-size: $product-pages-body-text-font-size-desktop;
          line-height: $product-pages-body-text-line-height-desktop;
          font-weight: 400;
          color: #3c3c3c;
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  .decentro-gallery {
    padding: 30px 50px;

    .image-gallery {
      padding: 100px;
      width: 100%;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .careers {
    .challenges-and-future,
    .decentro-gallery,
    .use-cases {
      padding: 50px;

      h2 {
        // font-size: 36px;
        // line-height: 42px;
        text-align: center;
      }

      p {
        // font-size: 18px;
        // line-height: 28px;
        text-align: center;
        margin-top: 20px;
      }

      .challenges {
        .inline-image-and-paragraph {
          padding: 30px;

          h2 {
            font-size: 24px;
            line-height: 30px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
            text-align: left;
          }
        }
      }
    }

    .perks {
      padding: 50px;

      h2 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
      }

      .perks-block {
        padding: 0 30px;

        .perk {
          // width: 23%;
          width: calc(100% / 3 - 100px);
        }
      }
    }

    .decentro-gallery {
      .image-gallery {
        padding: 70px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .careers {
    .challenges-and-future,
    .decentro-gallery,
    .use-cases {
      padding: 30px;

      h2 {
        // font-size: 30px;
        // line-height: 40px;
        text-align: center;
      }

      p {
        // font-size: 16px;
        // line-height: 24px;
        text-align: center;
        margin-top: 20px;
      }

      .challenges {
        .inline-image-and-paragraph {
          padding: 20px;
          margin-top: 30px;

          h2 {
            color: #3c3c3c;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-top: 20px;
          }

          p {
            margin-top: 10px;
            font-size: 16px;
            line-height: 26px;
          }

          .image {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
              max-width: 150px;
            }
          }
        }

        .inline-image-and-paragraph:nth-child(2) {
          flex-flow: column;
        }
      }
    }

    .use-cases {
      .use-case-list {
        .use-case-block {
          width: calc(100% - 40px);
          padding: 20px;
          height: unset;

          .image {
            height: unset;

            img {
              width: 120px;
            }
          }
        }
      }
    }

    .perks {
      padding: 50px;

      h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
      }

      .perks-block {
        margin: 0;
        padding: 0 20px;
        flex-flow: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;

        // align-items: center;
        .perk {
          width: calc(100% / 2 - 40px);
          margin-top: 30px;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .careers {
    .challenges-and-future,
    .decentro-gallery,
    .use-cases {
      h2,
      p {
        text-align: left;
        align-self: flex-start;
      }
    }

    .perks {
      h2 {
        align-self: flex-start;
        text-align: left;
      }

      .perks-block {
        justify-content: space-around;
        // gap: 0px;
        // padding: 0;
        padding: 30px;

        .perk {
          align-items: center;

          p {
            text-align: center;
            align-self: center;
          }
        }
      }
    }

    .text-and-button-banner {
      a {
        align-self: center;
      }
    }

    .decentro-gallery {
      padding: 30px 20px;

      .image-gallery {
        padding: 40px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .careers {
    .decentro-gallery {
      .image-gallery {
        padding: 20px 0px;
      }
    }
  }
}
