@import "../../../utilities/_variables.scss";

.inline-images {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 100px;
  position: relative;
  h2 {
    font-size: $product-sections-header-font-size-desktop;
    line-height: $product-sections-header-line-height-desktop;
    font-weight: 400;
    color: #0a192c;

    span {
      font-weight: 600;
    }
  }
  p.tagline {
    font-size: $product-pages-body-text-font-size-desktop;
    line-height: 22px;
    font-weight: 400;
    color: #68727d;
    margin-top: 20px;
    text-align: center;
    width: 50%;
  }
  p.tagline-highlighted {
    font-size: $product-pages-body-text-font-size-desktop;
    line-height: 22px;
    font-weight: 600;
    color: #096ef2;
    margin-top: 20px;
  }

  .image-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 40px;
    gap: 40px;
    .image-content {
      max-width: 230px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .inline-images {
    padding: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .inline-images {
    padding: 30px;
    .image-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .image-content {
        max-width: 170px;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .inline-images {
    padding: 30px;
    .image-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .image-content {
        max-width: 150px;
      }
    }
  }
}
