@import "../../../utilities/_variables.scss";

.inline-custom-data-image {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 50px 100px;
  position: relative;
  box-sizing: border-box;
  .left-container {
    width: 55%;
    .title {
      font-size: $product-sections-header-font-size-desktop;
      line-height: $product-sections-header-line-height-desktop;
      font-weight: 400;
      color: #0a192c;
      span {
        font-weight: 600;
      }
    }
    .description {
      font-size: $product-pages-body-text-font-size-desktop;
      line-height: 22px;
      font-weight: 400;
      color: #68727d;
      margin-top: 20px;
      text-align: left;
    }
    .bullet-points {
      display: flex;
      flex-flow: column;
      position: relative;
      ul {
        li {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          margin-left: 20px;
          span {
            font-weight: 600;
          }
          &::before {
            content: "";
            width: 12px;
            height: 12px;
            background: transparent
              linear-gradient(213deg, #66ceac 0%, #3a36c6 100%) 0% 0%;
            border-radius: 50px;
            position: absolute;
            left: 0;
            z-index: 1;
          }
        }
      }
    }
    .recommended {
      .content-subheader {
        font-size: $product-pages-body-text-font-size-desktop;
        line-height: 22px;
        font-weight: 600;
        color: #0a192c;
      }
      .item-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        margin-top: 20px;
        .item {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
          .image-content {
            max-width: 25px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background: #d7e8ff 0% 0% no-repeat padding-box;
            border-radius: 100px;
            img {
              width: 100%;
            }
          }
          p {
            margin-top: 0;
            font-size: $product-pages-body-text-font-size-desktop;
            line-height: 22px;
          }
        }
      }
      .partner-with-us-btn {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: max-content;
          margin-top: 30px;
          padding: 15px 45px;
          font-size: $product-pages-body-text-font-size-desktop;
          font-weight: 600;
          line-height: 22px;
          border-radius: 34px;
          color: #ffffff;
          border: none;
          background: transparent
            linear-gradient(90deg, #096ef2 0%, #0092ff 100%) 0% 0% no-repeat
            padding-box;
        }
      }
    }
  }
  .right-container {
    width: 45%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    .image-content {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .inline-custom-data-image {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 50px;
    position: relative;
  }
}

@media screen and (max-width: 1023px) {
  .inline-custom-data-image {
    display: flex;
    flex-flow: column-reverse !important;
    align-items: center;
    padding: 30px;
    width: 100%;
    .left-container {
      width: 100%;

      .recommended {
        .item-list {
          row-gap: 30px;
        }
      }
    }
    .right-container {
      .image-content {
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .inline-custom-data-image {
    padding: 0;
    .left-container {
      .recommended {
        .item-list {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .inline-custom-data-image {
    .left-container {
      .recommended {
        .item-list {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
