@import "../../utilities/_variables.scss";

ul {
  list-style: none;

  ul {
    margin-left: 15px;

    li {
      margin: 20px 0;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
  }

  a {
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    color: #000000;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    &.active-menu {
      background: rgba(0, 0, 0, 0.06);
    }
  }

  li {
    margin: 20px 0;
  }
}

.navigation-section {
  width: 20%;
  padding: 20px;
}

.current-faq-content {
  width: 100%;

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }
}

.inner-link {
  padding: 15px 20px;
  color: #000000;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  &:hover {
  }
}

div.display-name {
  font-size: $product-pages-body-text-font-size-desktop;
  line-height: $product-pages-body-text-line-height-desktop;
  cursor: pointer;
  &:hover {
    color: #096ef2;
    font-weight: 600;
  }

  &.active-menu {
    background: rgba(0, 0, 0, 0.06);
  }
}

@media screen and (max-width: 1023px) {
  .navigation-section {
    display: none !important;
  }
}
