// Desktop

$product-banner-header-font-size-desktop: 2.8125rem;
$product-banner-header-line-height-desktop: 55px;
$product-sections-header-font-size-desktop: 2.125rem;
$product-sections-header-line-height-desktop: 42px;
$product-sections-subheader-font-size-desktop: 1.375rem;
$product-sections-subheader-line-height-desktop: 28px;
$product-pages-body-text-font-size-desktop: 1rem;
$product-pages-body-text-line-height-desktop: 24px;
$product-pages-highlight-text-font-size: 20px;

// 1280 - 1024
$product-banner-header-font-size-1280: 2.5rem;
$product-banner-header-line-height-1280: 50px;
$product-sections-header-font-size-1280: 2.25rem;
$product-sections-header-line-height-1280: 42px;
$product-sections-subheader-font-size-1280: 1.5rem;
$product-sections-subheader-line-height-1280: 28px;

// 1023
$product-banner-header-font-size-1023: 2rem;
$product-banner-header-line-height-1023: 44px;
$product-sections-header-font-size-1023: 1.875rem;
$product-sections-header-line-height-1023: 40px;
$product-sections-subheader-font-size-1023: 1.2rem;
$product-sections-subheader-line-height-1023: 30px;

// 710
$product-banner-header-font-size-710: 1.5rem;
$product-banner-header-line-height-710: 32px;
$product-sections-header-font-size-710: 2.125rem;
$product-sections-header-line-height-710: 42px;
$product-sections-subheader-font-size-710: 1.375rem;
$product-sections-subheader-line-height-710: 30px;
$product-pages-body-text-font-size-710: 1.125rem;
$product-pages-body-text-line-height-710: 28px;

// 550
$product-banner-header-font-size-550: 1.2rem;
$product-banner-header-line-height-550: 26px;
